<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.bjtu.gymclub.gymclub">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />





    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    //读取设备硬件信息，统计数据
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //读取系统信息，包含系统版本等信息，用作统计




    //获取统计数据
    <uses-permission android:name="android.permission.CAMERA" />
    //使用步行AR导航，配置Camera权限

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainInterfaceActivity"
            android:label="Home" />
        <activity
            android:name=".AnnounceActivity"
            android:label="Announcement" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".ScheduleActivity"
            android:label="Schedule" />
        <activity
            android:name=".CoachActivity"
            android:label="Coachlist"/>
        <activity
            android:name=".VideoViewActivity"
            android:label="Play"/>
        <activity
            android:name=".FindUsActivity"
            android:label="Find Us"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ZpGHaAymKi3PB0w5DRfapTuu46dzA6lH"/>


    </application>

</manifest>